[Unit]
Description=Run OG Live Redis pipeline healthcheck every minute

[Timer]
OnBootSec=60
OnUnitActiveSec=300
AccuracySec=10
Unit=og-live-healthcheck.service

[Install]
WantedBy=timers.target
