[Unit]
Description=Run OG Live Pub/Sub mechanism healthcheck every minute

[Timer]
OnBootSec=60
OnUnitActiveSec=300
AccuracySec=10
Unit=og-live-pubsub-healthcheck.service

[Install]
WantedBy=timers.target
